/* Color Theme Swatches in Hex */
.Vibrant-Bathroom--1-hex { color: #F8899D; }
.Vibrant-Bathroom--2-hex { color: #FA305A; }
.Vibrant-Bathroom--3-hex { color: #45D0C9; }
.Vibrant-Bathroom--4-hex { color: #03A09F; }
.Vibrant-Bathroom--5-hex { color: #068E86; }

/* Color Theme Swatches in RGBA */
.Vibrant-Bathroom--1-rgba { color: rgba(247, 136, 156, 1); }
.Vibrant-Bathroom--2-rgba { color: rgba(249, 47, 89, 1); }
.Vibrant-Bathroom--3-rgba { color: rgba(68, 207, 200, 1); }
.Vibrant-Bathroom--4-rgba { color: rgba(3, 159, 158, 1); }
.Vibrant-Bathroom--5-rgba { color: rgba(6, 141, 133, 1); }

/* Color Theme Swatches in HSLA */
.Vibrant-Bathroom--1-hsla { color: hsla(349, 88, 75, 1); }
.Vibrant-Bathroom--2-hsla { color: hsla(347, 95, 58, 1); }
.Vibrant-Bathroom--3-hsla { color: hsla(176, 59, 54, 1); }
.Vibrant-Bathroom--4-hsla { color: hsla(179, 96, 31, 1); }
.Vibrant-Bathroom--5-hsla { color: hsla(176, 91, 29, 1); }