$font-family: Roboto,
Helvetica Neue,
sans-serif;
$navbar-height: 45px;
$border-radius: .25rem;
$padding: 15px;
$left-sidebar-width: 300px;

*,
:after,
:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: $font-family;
    font-size: 14px;
    line-height: 1.25;
}

body {
    margin: 0px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    background: transparent;
    border: none;
    cursor: pointer
}
.layout {
    display: flex;
    width: 100%;
}
.main {
    display: flex;
	flex-direction: column;
    margin-left: #{$left-sidebar-width};
	min-height: calc(100vh - #{$navbar-height});
	position: relative;
    transition: margin-left .3s ease-out;
    width: 100%;
}

.icon {
    color: #bfbdbd;
    cursor: pointer;
    text-align: center;
    width: 18px;
}

.create,
.cancel {
    border-radius: $border-radius;
    cursor: pointer;
    margin-right: 5px;
    outline: none;
    padding: 6px 12px;
    transition: all .3s ease-in-out;
}

.create {
    background-color: #068E86;
    color: white;
}

.cancel:hover {
    text-decoration: underline;
}

.editor {
    border: 1px solid #b6dbd9;
    border-radius: $border-radius;
    outline: none;
    width: 100%;
}

.create-list__options {
    align-items: center;
    display: flex;
    padding: 10px 0 0;
    width: 100%;
}