ul {
	list-style: none;
	padding: 0;
}
.list-group {
	padding-left: 10px;
}
.list-group > li{
	padding: 5px 0;
	width: 100%;
}
.todo {
	&-left-navigation {
		padding-top: 20px;
		background-color: #fafafa;
		height: auto;
		min-height: calc(100vh - 56px);
	}
	&-title {
		padding: 20px 30px;
	}
	&-title > h1 {
		font-size: 1.7rem;
		font-weight: bold;
	}
	&-content {
		padding: 0 30px;
		&-title {
			display: flex;
			align-items: center;
			font-size: 1.2rem;
			font-weight: bold;
			padding-left: 0;
		}
		&-title > span {
			margin-left: 6px;
		}
		.list-group > li {
			padding-left: 15px;
		}
	}
	.list-group {
		&__item {
			margin-left: 5px;
		}
	}
	.todo-item {
		align-items: center;
		border-bottom: 1px solid #d1d1d1;
		display: flex;
		justify-content: space-between;
		&__content {
			align-items: center;
			display: flex;
			padding: 10px 0;
		}
		&__settings {
			align-items: center;
			display: flex;
			font-size: 1.2rem;
			justify-content: flex-end;
			max-width: 80%;
			opacity: 0;
			padding: 10px 0 10px 10px;
			transition: all .3s ease-out;
    		width: 50%;
		}
		&__settings:hover {
			opacity: 1;
		}
	}
	.option {
		align-items: center;
		color: #727272;
		cursor: pointer;
		display: flex;
		height: 30px;
		justify-content: center;
		padding: 0 0 0 10px;
		width: 30px;
	}
}
